Repository UNN-ITMM-Software/devtools-course-practice, pull requests merged in 2024-11, with the labels that each got.

#404 Неделин Дмитрий - Лабораторная Работа #2
  lab-guide/topics.md
  modules/nedelin_d_book_discount_lab2/CMakeLists.txt
  modules/nedelin_d_book_discount_lab2/include/HarryPotterBooks.h
  modules/nedelin_d_book_discount_lab2/src/CMakeLists.txt
  modules/nedelin_d_book_discount_lab2/src/HarryPotterBooks.cpp
  modules/nedelin_d_book_discount_lab2/test/CMakeLists.txt
  modules/nedelin_d_book_discount_lab2/test/test_HarryPotterBooks.cpp
  modules/nedelin_d_book_discount_lab2/test/test_main.cpp
Labels: lab 2, delayed

#405 Смирнов Павел - Лабораторная работа №3
  modules/nedelin_d_book_discount_lab2/CMakeLists.txt
  modules/nedelin_d_book_discount_lab2/CTestTests.txt
  modules/nedelin_d_book_discount_lab2/application/CMakeLists.txt
  modules/nedelin_d_book_discount_lab2/application/application.cpp
  modules/nedelin_d_book_discount_lab2/include/HarryPotterBooksApp.h
  modules/nedelin_d_book_discount_lab2/src/HarryPotterBooksApp.cpp
Labels: lab 3, delayed

#410 impl lab3 app
  modules/kachalov_m_calc_polygon/CMakeLists.txt
  modules/kachalov_m_calc_polygon/CTestTests.txt
  modules/kachalov_m_calc_polygon/application/CMakeLists.txt
  modules/kachalov_m_calc_polygon/application/application.cpp
  modules/kachalov_m_calc_polygon/include/polygon_price_app.h
  modules/kachalov_m_calc_polygon/src/polygon_price_app.cpp
Labels: lab 3, Ready for merge, delayed
